/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }

a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }

.hey{
    width:100vw;
    height: 80vh;
    margin-bottom: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: -2em;
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 400px 80px;
    grid-template-areas: "image" "stats";
    
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image {
    grid-area: image;
    background: url("/assets/images/temp1.jpeg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
 
  .card-stats {
    grid-area: stats; 
    display: grid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(43, 41, 42);
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }
  .card-stats .border {
    border-left: 1px solid rgb(43, 41, 42);
    border-right: 1px solid rgb(43, 41, 42);
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card-image.card2 {
    background: url("/assets/images/temp2.jpeg");
    background-size: cover;
    
  }
  .card-stats .card2 .border {
    border-left: 1px solid rgb(43, 41, 42);
    border-right: 1px solid rgb(43, 41, 42);
  }
  .card-image.card3 {
    background: url("/assets/images/temp3.jpeg");
    background-size: cover;
    
  }
  .card-stats .card3 .border {
    border-left: 1px solid rgb(43, 41, 42);
    border-right: 1px solid rgb(43, 41, 42);
  }